{% extends "base.html" %}
{% block body %}
    {% if pad_owner and pad_private %} <div class="notice"><p> This pad is private for {{ pad_owner }} </p></div> {%endif%}
    <form action="/save/{{pad_id}}" method="post">
        <textarea id="text" name="text">{{ body }}</textarea><br/>
        <div style="position:absolute; width:10%; right:0px; top:20%;">
            <ul class="pad_options" style="list-style:none">
                <li><a target="_rendered{{pad_id}}" href="/html/{{pad_id}}"> HTML </a></li>
                <li><a target="_rendered{{pad_id}}" href="/s5/{{pad_id}}"> Presentation </a></li>
                <li><a href="/pad_revisions/{{pad_id}}"> Old revisions </a></li>
            </ul>
            <input type="submit" value="Save" style="margin-left:15px" />
        </div>
    </form>
{% endblock %}
